<footer>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <p>Администрирование сайта: Бровка Дионисий, Галицкий Максим <br>
                Адрес: 220108, Республика Беларусь, г. Минск, ул. Казинца, 91 <br>
                Телефон: <a href="tel:+375 17 374 11 62">+375 17 374 11 62</a><br>
                E-mail: <a href="mailto:mgke@minskedu.gov.by">mgke@minskedu.gov.by</a></p>
            </div>
            <div class="col-md">
            </div>
            <div class="col-md">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p id="footer-down">©УО "Минский государственный колледж цифровых технологий", 2022</p>
            </div>
        </div>
    </div>
</footer>