<div id="homepage-block-functions" class="row">
    <div class="col">
        <div class="row">
            <div class="col-lg">
                <div class="block block-fun box">
                    Рассписание занятий
                </div>
            </div>
            <div class="col-lg">
                <div class="block block-fun box">
                    Анонсы события
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <div class="block block-fun box">
                    Поздравления
                </div>
            </div>
            <div class="col-lg">
                <div class="block block-fun box">
                    Слидер компитенции
                </div>
            </div>
        </div>
    </div>
</div>