{% load wagtailcore_tags wagtailimages_tags navigation_tags %}

<div id="fullsize-nav" class="row">
    <div class="col">
        <nav id="nav-list" class="box">
            {% get_site_root as site_root %}
            <div class="nav-item">
                <a href="/">Главная</a>
            </div>
            {% for menuitem in site_root.get_children.live.in_menu %}
                <div class="nav-item">
                    <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                </div>
            {% endfor %}
            <form action="">
                <input type="text" placeholder="Поиск">
                <input type="button" class="glass-btn" value="Go">
            </form>
        </nav>
    </div>
</div>

<div id="mobile-nav" class="row">
    <div class="col">
        <nav id="nav-list" class="box">
            <div class="nav-item">
                <a href="/">Главная</a>
            </div>
            <form action="">
                <input type="button" value="=">
            </form>
        </nav>
    </div>
</div>